$theme-color: #50A0E8;

$roboto: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;

$raleway: 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-weight-base: 300;
$font-weight-bold: 900;